# ---------------------------------------------------------------------------------------------
# Copyright (c) Infiniscene, Inc. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# ---------------------------------------------------------------------------------------------

name: Publish renderer without publishing package
on:
  workflow_dispatch:
  push:
    branches:
      - 'mahendra/conditional-build'

jobs:
  deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Package Version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@main

      - name: Build Studio Kit
        if: endsWith(steps.package-version.outputs.current-version, 'beta')
        run: |
          npm ci
          npm run build
          npm run build:renderer

      - uses: cloudflare/wrangler-action@2.0.0
        name: Publish Release
        if: endsWith(steps.package-version.outputs.current-version, 'beta')
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          workingDirectory: './build/hosted-renderer'
          preCommands: |
            npm install
          postCommands: |
            node directory-to-kv.js --prefix version/${{ steps.package-version.outputs.current-version }} --source ../../renderer/dist --destination renderer.json
            wrangler kv:bulk put renderer.json --binding=SCENELESS_KV 